.card-popup__close {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url('../../../images/form__close-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    z-index: 100000;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.card-popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {
    .card-popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}