.profile__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: auto;
    width: 298px;
}

@media screen and (max-width: 900px) {
    .profile__name {
        width: 190px;
        font-size: 27px;
        line-height: 33px;
        flex: none;
        text-align: center;
        padding-left: 46px;
    }
}