.profile__button-edit {
    width: 22px;
    height: 22px;
    background-color: #000;
    border: 1px solid #fff;
    background-image: url('../../../images/profile__button-edit.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
    }
}