@keyframes fadeIn{
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.card__popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    transition: animation 1s ease-in-out;
    justify-content: center;
    align-items: center;
}