.header {
    box-sizing:border-box;
    min-height: 74px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid #545454;
}


@media screen and (max-width:700px) {
    .header {
        min-width: 320px;
        min-height: 56px;
        margin-bottom: 42px;
        margin-top: 28px;
    }
}