.cards {
    margin-top: 50px;
    display: flex;
    gap: 20px 17px;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 900px) {
    .cards {
        justify-content: space-around;
        margin-top: 36px;
    }
}