.form__text {
    outline: none;
    margin-bottom: 45px;
    padding: 0;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width:880px) {
    .form__text {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 37px;
    }
}