.profile__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
    gap: 16px;
    max-width: 336px;
}

@media screen and (max-width: 880px) {
    .profile__info {
        max-width: 282px;
        margin-top: 26px;
        margin-right: 0;
    }
}