.popup-edit__close {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    z-index: 1001;
    background-image: url('../../../images/form__close-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.popup-edit__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {

    .popup-edit__close {
        content: "";
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
        z-index: 1001;
        background-size: contain;
    }
}